name: Build TrollSpeed (DISABLED)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    
    steps:
    - name: Disabled
      run: echo "TrollSpeed build is disabled. Use build-menu.yml instead"
